<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="net.softsociety.running_mate.dao.TaskDAO">


<!-- 일정 등록 --> 
<insert id="addTask" parameterType="net.softsociety.running_mate.dto.TaskDTO">
  INSERT INTO task_vo 
    (task_number, task_title, task_startDate, task_endDate, user_id, bigGoal_number, smallGoal_number)
  VALUES
    (task_seq.NEXTVAL, #{task_title}, TO_DATE(#{task_startDate}, 'YYYY-MM-DD HH24:MI:SS'), TO_DATE(#{task_endDate}, 'YYYY-MM-DD HH24:MI:SS'), #{user_id}, #{bigGoal_number}, #{smallGoal_number})
</insert>


<select id="getTasksByStartDate" parameterType="String" resultType="java.util.Map">
	SELECT 
		task_number, task_title, task_startDate, task_endDate, bigGoal_number, smallGoal_number
	FROM 
		task_vo
	WHERE
		user_id = #{userID} AND TO_CHAR(task_startDate,'YYYY-MM-DD') = TO_CHAR(SYSDATE,'YYYY-MM-DD')
</select>

<!-- 실제 과업 등록 --> 
<insert id="addActualTask" parameterType="net.softsociety.running_mate.dto.ActualTaskDTO">
  INSERT INTO actualTask_vo
    (actualTask_number, actualTask_title, actualTask_startDate, actualTask_endDate, user_id, bigGoal_number, smallGoal_number, task_number)
  VALUES
    (actualTask_seq.NEXTVAL, #{actualTask_title}, TO_DATE(#{actualTask_startDate}, 'YYYY-MM-DD HH24:MI:SS'), TO_DATE(#{actualTask_endDate}, 'YYYY-MM-DD HH24:MI:SS'), #{user_id}, #{bigGoal_number}, #{smallGoal_number}, #{TASK_NUMBER})
</insert>


</mapper>