<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.running_mate.dao.UserDAO">

<insert id="join" parameterType="net.softsociety.running_mate.dto.UserDTO">
	insert into user_vo
		(user_id, user_pw, user_name, user_email)
	values
		(#{user_id}, #{user_pw}, #{user_name}, #{user_email})	
</insert>

<select id="findUser" resultType="net.softsociety.running_mate.dto.UserDTO">
	select
		user_id, user_pw
	from
		user_vo
	where
		user_id = #{userID}
</select>

<select id="findUserId" resultType="net.softsociety.running_mate.dto.UserDTO">
	select
		user_id
	from
		user_vo
	where
		user_id = #{userID}
</select>

</mapper>