.container{
    display: flex;
    flex-direction: column;
}

.topbox{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.bouttombox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}
/* .headerClass{
    font-size: 30px;
}

.h4{
    font-size: 30px;
}

.card-header{
    font-size: 100px;
} */
.cardwarp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.Card{
    width: 350px;
    height: 250px;
    flex: 1 1 200px;
    font-size: 20px;
    text-align: center;

}

.Card1{
    width: 350px;
    height: 250px;
    flex: 1 1 200px;
    
    text-align: center;
    font-size: 100px;
}

.p {

    font-size: 50px;
}