.container{
    display: flex;
    flex-direction: column;
}

.topbox{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.bouttombox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.cardwarp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.Card{
    width: 350px;
    height: 250px;
    flex: 1 1 0;
    font-size: 20px;
    text-align: center;

}

.p {

    font-size: 50px;
}